name: Release

on:
    push:
        branches:
            - '**'
        tags:
            - '*.*.*'
env:
    DOTNET_NOLOGO: true
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    MINVERBUILDMETADATA: build.${{ github.run_number }}
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  filter: tree:0
            - name: Setup dotnet
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 9.0.x
            - name: Restore dependencies
              run: dotnet restore
            -   name: Build
                run: dotnet build --no-restore --configuration Release
            -   name: Test
                run: dotnet test --no-build --configuration Release --verbosity normal
            -   name: Pack
                run: dotnet pack --no-build --configuration Release --output ./artifacts
            -   name: Push to NuGet
                env:
                    NUGET_URL: https://api.nuget.org/v3/index.json
                    NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
                run: dotnet nuget push ./artifacts/*.nupkg --source $NUGET_URL --api-key $NUGET_API_KEY --skip-duplicate
